<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://obtain-gapi-access-token-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bee38115-5002-4da6-a16f-7cd77cd6b5a2/resourcegroups/ihtiyac-haritasi-rg/providers/Microsoft.Web/sites/obtain-gapi-access-token-fa</ResourceId>
    <UserName>$obtain-gapi-access-token-fa</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://obtain-gapi-access-token-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>